/*CLASES REUTILIZABLES*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

h4, p, a {
  font-family: 'Dosis', sans-serif;
  font-size: 17px;
  line-height: 1.5em;
  
  text-align: justify;
}

.container {
  color: #333;
  width: 100%;
}

.row {
  overflow: hidden;
  margin: 1em auto;
  width: 90%;
}

.column {
  background-color: rgba(216, 229, 245, 0.925);
  margin-right: 2%;
  float: left;
}


/*UNA COLUMNA*/
.all-width {
  width: 100%;
  background-size: cover;
  margin: 0;
}





/*CLASES ESPECÍFICAS*/
/*HEADER*/
.all-width .column {
  background-color: #07417a;
  width: 100%;
}

div .header-logo {
  display: inline-flex;
}

nav {
  display: inline-flex;
  text-transform: uppercase;
  transform: translateY(-300%);
  float: right;
  margin-right: 5%;
}

h1, nav h2{
  color: #ffffff;
  /* margin-right: 5%;
  margin-left: 55%; */
}

header{
  /* display: inline-block; */
  margin: 2% 5%;
}

header h2 {
  margin-right: 5%;
}
/*FIN-HEADER*/


/*HOME*/
.all-width .bg-home {
  background-image: url(../assets/images/fondo1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
}
/*FIN-HOME*/


/*NOSOTROS*/
.section-we {
  padding: 2em;
}

.section-we h2 {
  line-height: 3em;
}

.section-we a {
  background-color: #005bb7;
  color: #fff;
  padding: 2%;
  text-decoration: none;
  line-height: 3em;
  border-radius: 15%;
  font-weight: 700;
}
/*FIN-NOSOTROS*/


/*CONTACTOS*/
.section-contact {
  padding: 2em;
}

.section-contact h2 {
  line-height: 3em;
}
/*FIN-CONTACTOS*/


/*CARDS*/
.card {
  line-height: 3em;
  padding: 2em;
}

.card a {
  background-color: #005bb7;
  color: #fff;
  padding: 5%;
  text-decoration: none;
  line-height: 3em;
  border-radius: 10%;
  font-weight: 700;
}

.card img {
  border-radius: 10%;
  width: 100%;
}

.card p {
  margin-bottom: 10%;
}
/*FIN-CARDS*/


/*FOOTER*/
footer p {
  text-align: center;
  color: #fff;
  padding: 2em;
}
/*FIN-FOOTER*/


/*GRID SYSTEM*/
/*SMALL GRID*/
@media (min-width: 0px) and (max-width: 767px) {
  .row .column {
    width: 100%;
  }

  .column {
    margin-bottom: 5%;
  } 

  .delete-nav nav{
    display: none;
  }

  span {
    color: #fff;
    border: 1px solid #fff;
    float: right;
    box-sizing: border-box;
    padding: 0.5em;    
    transform: translateY(-100%);
  }
  
  .header-logo figure img {
    height: 30px;
  }

  .row .bg-home {
    background-size: contain;
    background-color: white;
    margin-bottom: -12em;
    margin-top: -2em;
  }

  .column header {
    margin-top: 3%;
  }
  .row.colum header {

  }
  
}

/*MEDIUM GRID*/
@media (min-width: 768px) and (max-width: 1023px) {
  .delete-span span{
    display: none;
  }

  nav h2 {
    font-size: 15px;
  }

}

/*LARGE GRID*/
@media (min-width: 1024px) {
  /*DOS COLUMNAS*/
  .delete-span span{
    display: none;
  }
    
  .two-columns .column{
    width: 49%;
  }

  .two-columns .column:nth-child(2n) {
    margin-right: 0;
  }


  /*TRES COLUMNAS*/
  .three-columns .column {
    width: 32%;
  }

  .three-columns .column:nth-child(3n) {
    margin-right: 0;  
  }
}
  